* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
    color: var(--bg1-color);
    font-family: 'Courier New', Courier, monospace;
}

:root {
    --bg1-color: #0C1117;
    --bg2-color: bisque;
    --text1-color: #ffffff;
    --text2-color: #0C1117;
}

body {
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    background: var(--text1-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg1-color);
}

.header {
    padding: .7rem 15rem;
}

.logo a {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text1-color);
}

.hamburger {
    display: none;
}


.navigation ul {
    display: flex;
    gap: 5em;
}

.navigation ul li a {
    padding: .7rem 1rem;
    border-radius: 2rem;
    color: var(--text1-color);
    transition: .7s ease;
    font-size: 14px;
}

.navigation ul li a:hover {
    background: var(--text1-color);
    color: #0C1117;
}

.navigation ul li a.active {
    background: var(--text1-color);
    color: #0C1117;
}

.section-2 {
    min-height: 100vh;
    background: var(--bg1-color);
    color: #ffffff;
}

.section-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 9rem;
    padding: 5rem 6rem;
   
}

.section-content .left p {
    text-align: justify;
    width: 500px;
    height: 400px;
    overflow: scroll;
}







.section-2-content {
    display: flex;
    justify-content: center;
}

.section-2-content div {
    align-items: center;
}















@media (max-width: 1800px) {
    header {
        padding: 1rem 9rem;
    }
}

@media (max-width: 1650px) {
    header {
        padding: 1rem 4rem;
    }
}

@media (max-width: 1100px) {
    header {
        padding: 1.4rem 4rem;
    }

    .navigation {
        position: absolute;
        left: 0;
        top: 5rem;
        height: 0;
        width: 100vw;
        background: var(--text2-color);
        transition: .2s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .navigation ul {
        flex-direction: column;
        gap: 4rem;
        transition: .5s ease;
        opacity: 0;
        text-align: center;
    }

    .navigation.active {
        height: 450px;
    }

    .navigation.active ul {
        opacity: 1;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background: var(--text1-color);
        margin: 6px 0;
    }
}

@media (max-width:560px) {
    .logo a {
        font-size: 1.5rem;
    }

    .hamburger .line {
        width: 20px;
        height: 2px;
        background: var(--text1-color);
        margin: 3px 0;
    }

    .navigation {
        top: 4rem;
    }
}


@media (max-width:470px) {
    .logo a {
        font-size: 1.2rem;
    }

    .hamburger .line {
        width: 18px;
        height: 2px;
        background: var(--text1-color);
        margin: 3px 0;
    }
}

@media (min-height: 350px) {
    header {
        padding: 1.4rem 4rem;
    }
}