* {
    text-shadow: 4px 5px 5px rgba(0, 0, 0, 4);
    font-weight: lighter;
    font-family: calibri;
    color: #ffffff;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

section {
    min-height: 100vh;
    background: #200F21;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 76%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 12%;
    background-color: #000000;
}

.header h3 {
    font-size: 70%;
    letter-spacing: .5px;
    text-shadow: none;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    cursor: default;
}

.navigation a {
    font-size: 15px;
    margin-left: 59px;
}

.home-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content h2 {
    position: absolute;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    font-weight: 700;
    top: 40%;
}

.home-content h1 {
    position: absolute;
    top: 46%;
    font-size: 35px;
}

.home-content h3 {
    position: absolute;
    top: 50%;
    font-size: 35px;
}

.butt {
    display: flex;
    justify-content: center;
    align-items: center;
}

.butt a {
    position: absolute;
    top: 60%;
    background: #ebeaea;
    color: #000000;
    text-shadow: none;
    border-radius: 10rem;
    padding: 1rem 20px;
    font-weight: bold;
}